<h2>Як користуватися</h2>

<p>Для коректної роботи програми:
    <ul>
        <li>Числа можуть бути від 1 до 9</li> 
        <li>Допустимі функції від 1 і 2 змінних</li>
        <li>Доступні операції: + - * /</li>
    </ul>
