@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    Designed and developed by<br />
    <p style="font-weight:900">Roman Mazurenko<br />
    See more at <a href="https://github.com/blowdee">GitHub</a>
</address>

<address>
    <strong>Feel free to contact me</strong>   <a href="mailto:Support@example.com">mazurenkodev@gmail.com</a><br />
</address>